@font-face {
    font-family: 'Breath Fire';
    src: url('fonts/breath_fire/Breathe\ Fire.otf') format('opentype');
}

div.content {
    text-align: center;
    position: relative;
    top: 30px;
    padding: 20px 0;
    /* background-color: azure; */
    background-image: url('images/dungeon.png');
    width: 60%;
    margin: auto;
    border-radius: 40px;
    border: 5px solid black;
}

table {
    margin: auto;
}

div.fullHP {
    width: 100px;
    height: 30px;
    background-color: rgb(49, 49, 49);
    margin: auto;
}

td {
    text-align: right;
    padding: 0 8px;
    font-family: 'Cinzel'
}

td.hp {
    font-weight: 600;
}

h2.status {
    font-family: 'Breath Fire';
    letter-spacing: 3px;
    margin-bottom: 5px;
    font-size: 30px;
}

input {
    background-color: transparent;
    border: none;
    font-family: 'Cinzel';
    font-size: 15px;
    width: 100px;
}

input.hp {
    font-weight: 1000;
    color: blue;
}

input.ap {
    font-weight: 1000;
    color: red;
}

div.tableMonster {
    background-color: rgba(255, 255, 255, 0.452);
    padding: 5px 0;
    width: 50%;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 20px;
}

button {
    background-color: rgb(90, 33, 33);
    color: azure;
    border: 3px solid black;
    padding: 10px 0;
    border-radius: 15px;
    font-family: 'Breath Fire';
    font-size: 25px;
    width: 130px;
    transition: 0.1s
}

button:hover {
    width: 150px;
}