* {
    font-family: 'Breath Fire';
}
div.judul {
    position: relative;
    top: 60px;
    text-align: center;
    color: azure;
    text-shadow: 5px 5px 5px black
}

.judul h1 {
    display: inline-block;
    font-size: 90px;
    border-bottom: 3px solid azure;
}

.judul h3 {
    margin-top: 10px;
}

.navbar {
    font-family: 'Breath Fire';
}

div.container {
    background-color: rgb(32, 32, 32);
    padding-bottom: 300px;
    position: relative;
    top: 100px;
    box-shadow: 0 -10px 15px black;
}

h4.error {
    color: red;
}